/* --- Hidden --- */
.hidden { display: none !important; }
.pip-video-source {
    position: fixed;
    width: 1px;
    height: 1px;
    right: 0;
    bottom: 0;
    opacity: 0.01;
    pointer-events: none;
}
